<div class="row">
   <div class="col-lg-9">
      <table class="table table-hover table-striped border">
         <thead>
         <tr>
            <th class="text-center" style="width: 50px">#</th>
            <th>Marka</th>
            <th></th>
         </tr>
         </thead>
         <tbody>
         <tr *ngFor="let color of colors | brandFilter: colorFilterText">
            <th class="text-center">{{ color.id }}</th>
            <td>{{ color.name }}</td>
            <td class="text-end">
               <button class="btn btn-sm btn-primary rounded-0 px-4"
                       routerLink="/colors/update/{{ color.id }}">
                  <i class="bi-pencil me-1"></i> GÜNCELLE
               </button>
            </td>
         </tr>
         </tbody>
      </table>
   </div>

   <div class="col-lg-3">
      <app-text-input [(ngModel)]="colorFilterText" placeHolder="Renk Ara..."></app-text-input>

      <div class="d-grid">
         <button class="btn btn-primary rounded-0" routerLink="/colors/add">
            <i class="bi-plus-square me-1"></i> Yeni Renk Ekle
         </button>
      </div>
   </div>
</div>
