<div class="row">
   <div class="col-lg-9">
      <app-car></app-car>
   </div>
   <div class="col-lg-3">
      <div class="list-group rounded-0 mt-4">
         <div class="list-group-item fw-bold" style="background-color: #DDD">
            <i class="bi-card-list"></i> {{ title }}
         </div>

         <button routerLink="/colors" (click)="resetCurrentColor()" class="{{ listAllBrandCss }}"
                 style="background-color: #EEE">
           Tümünü Listele
         </button>

         <button *ngFor="let color of colors" routerLink="/colors/{{ color.id }}"
                 (click)="setCurrentColor(color.id)" [class]="getCurrentColorClass(color.id)">
            {{ color.name }}
         </button>
      </div>
   </div>
</div>
