<div class="row">
   <div class="col-lg-9">
      <table class="table table-hover table-striped border">
         <thead>
         <tr>
            <th class="text-center" style="width: 50px">#</th>
            <th>Marka</th>
            <th></th>
         </tr>
         </thead>
         <tbody>
         <tr *ngFor="let brand of brands | brandFilter: filterText">
            <th class="text-center">{{ brand.id }}</th>
            <td>{{ brand.name }}</td>
            <td class="text-end">
               <button class="btn btn-sm btn-primary rounded-0 px-4"
                       routerLink="/brands/update/{{ brand.id }}">
                  <i class="bi-pencil me-1"></i> GÜNCELLE
               </button>
            </td>
         </tr>
         </tbody>
      </table>
   </div>

   <div class="col-lg-3">
      <app-text-input [(ngModel)]="filterText" placeHolder="Marka Ara..."></app-text-input>

      <div class="d-grid">
         <button class="btn btn-primary rounded-0" routerLink="/brands/add">
            <i class="bi-plus-square me-1"></i> Yeni Marka Ekle
         </button>
      </div>
   </div>
</div>
