<div class="row mt-4">
   <div class="col-lg-9">

      <div class="card">
         <div class="card-header fw-bold">
            <i class="bi-plus-square me-1"></i> Yeni Marka Ekle
         </div>
         <div class="card-body">
            <form autocomplete="off" [formGroup]="brandAddForm" (ngSubmit)="add()">
               <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="name" placeholder="brand" formControlName="name">
                  <label for="name">Marka Adı</label>
               </div>

               <div class="text-end">
                  <button type="submit" class="btn btn-primary rounded-0 px-4 fw-bold">
                     <i class="bi-save2 me-1"></i> Ekle
                  </button>
               </div>
            </form>
         </div>
      </div>

   </div>
   <div class="col-lg-3">
      <div class="d-grid">
         <button class="btn btn-primary rounded-0" routerLink="/brands">
            <i class="bi-list me-1"></i> Marka Listesine Geri Dön
         </button>
      </div>
   </div>
</div>
