<div class="row">
   <div class="col-lg-9">

      <div class="card">
         <div class="card-header fw-bold">
            <i class="bi-save me-1"></i> Renk Güncelle
         </div>
         <div class="card-body">
            <form autocomplete="off" *ngIf="color" [formGroup]="colorUpdateForm" (ngSubmit)="update()">
               <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="name" placeholder="name" formControlName="name">
                  <label for="name">Renk Adı</label>
               </div>

               <div class="text-end">
                  <button type="submit" class="btn btn-primary">
                     <i class="bi-save2 me-1"></i> Güncelle
                  </button>
               </div>
            </form>
         </div>
      </div>

   </div>
   <div class="col-lg-3">
      <div class="d-grid">
         <button class="btn btn-primary" routerLink="/colors">
            <i class="bi-list me-1"></i> Renkleri Listele
         </button>
      </div>
   </div>
</div>
