<footer class="my-5">
   <div class="container">
      <section class="footer-top pt-5 bg-light border rounded shadow rounded">
         <div class="container px-4">
            <div class="row">
               <div class="col-md-4">
                  <div class="footer-about">
                     <h4 class="fw-normal"><i class="bi-bullseye me-1"></i> {{ footerTitle }}</h4>
                     <hr>
                     <p>Çok yıllık üstün deneyim ve tecrübelerimizle daima güvenli araba kiralamanızı sağlayacağız.</p>
                     <a routerLink="/" class="btn btn-primary mb-4 mb-md-auto">
                        Arabalara Gözat
                        <i class="bi-arrow-right"></i>
                     </a>
                  </div>
               </div>
               <div class="offset-md-1 col-md-3">
                  <div class="footer-nav">
                     <h4 class="fw-normal">Linkler</h4>
                     <hr>
                     <ul>
                        <li><a routerLink="/">Anasayfa</a></li>
                        <li><a routerLink="/rentals">Kiralamalar</a></li>
                        <li><a routerLink="/customers">Müşteriler</a></li>
                        <li><a routerLink="/brands">Markalar</a></li>
                        <li><a routerLink="/colors">Renkler</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="footer-info">
                     <h4 class="fw-normal">Bilgi / İletişim</h4>
                     <hr>
                     <ul>
                        <li>
                           <b><i class="bi-telephone-fill me-2"></i>Telefon: </b>
                           <a href="tel://+905436036886">0543 603 6886</a>
                        </li>
                        <li>
                           <b><i class="bi-envelope-fill me-2"></i>E-Posta: </b>
                           <a href="mailto:info@rentacar.com">info@rentacar.com</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>

         <section class="footer-bottom mt-5">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="footer-copyright">
                        Copyright &copy; 2020 <a routerLink="/">{{ footerTitle }}</a>. Tüm Hakları Saklıdır |
                        Bu Site <a href="mailto:ysfakkurt@hotmail.com">Yusuf Akkurt</a> Tarafından Tasarlanıp, Kodlanmıştır.
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </section>
   </div>
</footer>
