<div class="col-lg-12">
   <table class="table table-hover table-striped border">
      <thead>
      <tr>
         <th class="text-center" style="width: 50px">#</th>
         <th>Araba</th>
         <th>Müşteri</th>
         <th>Kiralanan Tarih</th>
         <th>Teslim Tarihi</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rental of rentDetails">
         <th class="text-center">{{ rental.id }}</th>
         <td>{{ rental.carBrand }} {{ rental.carModel }}</td>
         <td>{{ rental.customerFirstName }} {{ rental.customerLastName }}</td>
         <td>{{ rental.rentDate | date:'dd.MM.y hh:mm' }}</td>
         <td>
            <span *ngIf="rental.returnDate">{{ rental.returnDate | date:'dd.MM.y hh:mm' }}</span>
            <span *ngIf="!rental.returnDate">Teslim tarihi bilinmiyor</span>
         </td>
      </tr>
      </tbody>
   </table>
</div>
