<div *ngIf="!isAuth()">
   <button class="btn btn-outline-primary rounded-pill px-4" routerLink="/auth/register">
      <i class="bi-person-fill me-1"></i> Üye Ol
   </button>

   <button class="btn btn-primary rounded-pill px-4 ms-lg-2" routerLink="/auth/login">
      <i class="bi-box-arrow-in-right me-1"></i> Giriş Yap
   </button>
</div>

<div *ngIf="isAuth() && getCurrentCustomer()">
   <div class="btn-group d-grid">
      <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
         <i class="bi-person-circle me-1"></i>
         {{ getCurrentCustomer().firstName }} {{ getCurrentCustomer().lastName }}
      </button>

      <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
         <div class="dropdown-item cursor-none">
            <i class="bi-check2 me-1"></i>
            {{ getCurrentCustomer().findexPoint }} Findex Puanı
         </div>

         <hr class="dropdown-divider">

         <div class="dropdown-item" routerLink="/auth/profile">
            <i class="bi-pencil me-1"></i> Profili Düzenle
         </div>

         <div class="dropdown-item" (click)="logout()">
            <i class="bi-box-arrow-right me-1"></i> Çıkış Yap
         </div>
      </div>
   </div>
</div>
