<div class="row">
   <div class="col-lg-9">

      <div class="card rounded-0">
         <div class="card-header fw-bold">
            <i class="bi-save me-1"></i> Araba Güncelle
         </div>
         <div class="card-body">
            <form autocomplete="off" *ngIf="car" [formGroup]="carUpdateForm" (ngSubmit)="update()">

               <div class="form-floating mb-3">
                  <select class="form-select" id="brands" formControlName="brandId">
                     <option *ngFor="let brand of brands" [ngValue]="brand.id">
                        {{ brand.name }}
                     </option>
                  </select>
                  <label for="brands">Markalar</label>
               </div>

               <div class="form-floating mb-3">
                  <select class="form-select" id="colors" formControlName="colorId">
                     <option *ngFor="let color of colors" [ngValue]="color.id">
                        {{ color.name }}
                     </option>
                  </select>
                  <label for="colors">Renkler</label>
               </div>

               <div class="form-floating mb-3">
                  <input class="form-control" id="description" placeholder="description"
                         formControlName="description">
                  <label for="description">Model Adı / Açıklama</label>
               </div>

               <div class="form-floating mb-3">
                  <input appCheckNumber class="form-control" id="modelYear" placeholder="modelYear"
                         formControlName="modelYear">
                  <label for="modelYear">Model Yılı</label>
               </div>

               <div class="form-floating mb-3">
                  <input appCheckDecimal class="form-control" id="dailyPrice" placeholder="dailyPrice"
                         formControlName="dailyPrice">
                  <label for="dailyPrice">Günlük Ücret - ₺</label>
               </div>

               <div class="form-floating mb-3">
                  <input class="form-control" appCheckNumber id="findexPoint" placeholder="findexPoint"
                         formControlName="findexPoint">
                  <label for="findexPoint">Findeks Puanı</label>
               </div>

               <div class="text-end">
                  <button class="btn btn-primary">
                     <i class="bi-save2 me-1"></i> Güncelle
                  </button>
               </div>
            </form>
         </div>
      </div>

   </div>
   <div class="col-lg-3">
      <div class="d-grid">
         <button class="btn btn-primary" routerLink="/cars">
            <i class="bi-list me-1"></i> Arabaları Listele
         </button>
      </div>
   </div>
</div>
