<div class="row mt-4">
   <div class="col-lg-9">
      <input type="text" [(ngModel)]="filterText" class="form-control rounded-0 mb-3"
             placeholder="Araba Ara..." autocomplete="off" >

      <table class="table table-hover table-striped border">
         <thead>
         <tr>
            <th class="text-center" style="width: 50px">#</th>
            <th>Marka</th>
            <th>Renk</th>
            <th>Model Yılı</th>
            <th>Günlük Ücret</th>
         </tr>
         </thead>
         <tbody>
         <tr *ngFor="let car of carDetails | carFilter: filterText" routerLink="/cars/detail/{{ car.id }}">
            <th class="text-center">{{ car.id }}</th>
            <td>{{ car.brandName }} {{ car.description }}</td>
            <td>{{ car.colorName }}</td>
            <td>{{ car.modelYear }}</td>
            <td>{{ car.dailyPrice }}</td>
         </tr>
         </tbody>
      </table>
   </div>

   <div class="col-lg-3">
      <div class="mb-3">
         <select class="form-control rounded-0" [(ngModel)]="brandFilter">
            <option value="">- - Marka Seçiniz - -</option>

            <option *ngFor="let brand of brands" value="{{ brand.id }}">
               {{ brand.name }}
            </option>
         </select>
      </div>

      <div class="mb-3">
         <select class="form-control rounded-0" [(ngModel)]="colorFilter">
            <option value="">- - Renk Seçiniz - -</option>

            <option *ngFor="let color of colors" value="{{ color.id }}">
               {{ color.name }}
            </option>
         </select>
      </div>

      <button class="btn btn-primary rounded-0 float-end">
         <i class="bi-search me-1"></i> Filtrele
      </button>
   </div>
</div>
