<div class="list-group rounded-0 mt-4">
   <div class="list-group-item sidebar-title">
      MENÜ
   </div>
   <a class="list-group-item list-group-item-action" routerLink="rentals" routerLinkActive="active">
      Kiralamalar
   </a>
   <a class="list-group-item list-group-item-action" routerLink="customers" routerLinkActive="active">
      Müşteriler
   </a>
   <a class="list-group-item list-group-item-action" routerLink="cars" routerLinkActive="active">
      Arablar
   </a>
   <a class="list-group-item list-group-item-action" routerLink="brands" routerLinkActive="active">
      Markalar
   </a>
   <a class="list-group-item list-group-item-action" routerLink="colors" routerLinkActive="active">
      Renkler
   </a>
</div>