select{
   cursor: pointer;
   transition: all .2s;
}

select:hover {
   background-color: #EEEEEE;
}

select:focus {
   border-color: #0D6EFD;
   box-shadow: none;
   background-color: transparent;
}

.btn {
   border-radius: 0;
}
