<div class="row">
   <div class="col-lg-6">
      <div id="indicators" class="carousel carousel-dark slide" data-bs-ride="carousel">

         <div class="carousel-inner">
            <div *ngFor="let carImage of carImages" [class]="getCurrentSliderImageClass(carImage)">
               <img src="{{ imageBaseUrl + carImage.imagePath }}" class="d-block img-fluid">
            </div>
         </div>

         <button *ngIf="carImages.length > 1" class="carousel-control-prev" data-bs-target="#indicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
         </button>
         <button *ngIf="carImages.length > 1" class="carousel-control-next" data-bs-target="#indicators" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
         </button>

      </div>
   </div>

   <div *ngIf="carDetail" class="col-lg-6 my-auto">
      <h1>{{ carDetail.brandName }}</h1>
      <hr style="width: 25%; opacity: 1; height: 2px">
      <ul class="list-unstyled">
         <li><h5><b>Model Name: </b>{{ carDetail.description }}, {{ carDetail.brandName }}</h5></li>
         <li><h5><b>Color Name: </b>{{ carDetail.colorName }}</h5></li>
         <li><h5><b>Model Year: </b>{{ carDetail.modelYear }}</h5></li>
         <li><h5><b>Günlük Ücret: </b>{{carDetail.dailyPrice }} ₺</h5></li>
         <li><h5><b>Findex Puanı: </b>{{carDetail.findexPoint }}</h5></li>
      </ul>

      <div *ngIf="isAuthenticate()">
         <app-car-rent></app-car-rent>
      </div>

      <div *ngIf="!isAuthenticate()">
         <div class="alert alert-primary text-center lead fw-normal">
            Araba kiralama işlemi için önce giriş yapın
         </div>
      </div>

   </div>
</div>
