.btn-group button {
   border-radius: 0;
   padding-right: 18px;
   padding-left: 18px;
}

.btn-group button:focus {
   box-shadow: none;
}

.btn-group .dropdown-menu {
   background-color: #6C757D;
   border-radius: 0;
}

.btn-group .dropdown-menu .dropdown-divider {
   color: #EEEEEE;
}

.btn-group .dropdown-menu .dropdown-item {
   cursor: pointer;
   color: #EEEEEE;
}

.btn-group .dropdown-menu .dropdown-item:hover {
   color: #6C757D;
}

.btn-group .dropdown-menu .dropdown-item:focus, .dropdown-item:active {
   background: #DDDDDD;
   outline: 0;
}

.cursor-none {
   cursor: default !important;
}

.cursor-none:hover {
   color: #EEEEEE !important;
   background-color: #6C757D;
}
